<<<<<<< HEAD
$primary-color: #1d282d;
$secondary-color: #08a5ff;
$third-color: #020a0b;
$fourth-color: #cfe7fe;
$fifth-color: #2ba5de;
$hover-color: #12aef6;
=======
$primary-color: #182129;
$secondary-color: #258fdb;
$third-color: #074f57;
$fourth-color: #9ed2f3;
$fifth-color: #b8ffbf;
$hover-color: #e0e9f1;
>>>>>>> c493fe1... added base styling
$border: 1px solid #003459;
$font-fam: 'Sen-Regular';


/*
original colors:
<<<<<<< HEAD

=======
>>>>>>> c493fe1... added base styling
$primary-color: #003459;
$secondary-color: #2274a5;
$third-color: #074f57;
$fourth-color: #f7fbff;
$fifth-color: #fff1b8;
$hover-color: #e0e9f1;
$border: 1px solid #003459;
$font-fam: 'Sen-Regular';

<<<<<<< HEAD
primary color: changes leftNav
fourth color: changes d3wrapper
title: h1 in leftnav
=======
primary color: changes the left nav and bind mounts
fourth color: changes the title bar, open button and d3wrapper
line 6 in option bar: changes color of option bar
>>>>>>> c493fe1... added base styling
*/