
$primary-color: #1d282d;
$secondary-color: #08a5ff;
$third-color: #020a0b;
$fourth-color: #cfe7fe;
$fifth-color: #2ba5de;
$hover-color: #12aef6;

$border: 1px solid #003459;
$font-fam: 'Sen-Regular';


